#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"微軟正黑體",Helvetica,Arial,sans-serif;font-weight:200;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{
	position:relative;
	overflow:hidden;
	height:100px;
}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{
	background:url(../images/loading.gif) no-repeat;
	padding-left:34px;
	display:inline-block;
	color: #CCC;
	font-size: 12px;
}
#sb-body,#sb-loading{}
#sb-title,#sb-info{
	position:relative;
	margin:0;
	padding:0;
	overflow:hidden;
	top: -330px;
	float: right;
	right: 20px;
}
#sb-title,#sb-title-inner{height:26px;line-height:26px;}
#sb-title-inner{font-size:16px;}
#sb-info,#sb-info-inner{
	height:45px;
	line-height:45px;
}
#sb-info-inner{font-size:12px;}
#sb-nav{
	height: 45px;
	width: 45px;
	float: left;
	position: fixed;
	top: 20px;
	right: 20px;
}
#sb-nav a{
	display:block;
	float:right;
	height:45px;
	width:45px;
	cursor:pointer;
	background-repeat:no-repeat;
}
#sb-nav-close{
	background-image: url(../images/close.png);
}
#sb-nav-next{background-image:url(../images/next.png);}
#sb-nav-previous{background-image:url(../images/previous.png);}
#sb-nav-play{background-image:url(../images/play.png);}
#sb-nav-pause{background-image:url(../images/pause.png);}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}
.share-facebook {
	float: left;
}
.share-facebook a {
	background-image: url(../images/icon9.gif);
	text-indent: -9999px;
	float: left;
	height: 26px;
	width: 26px;
	background-repeat: no-repeat;
}
.share-twitter {
	float: left;
	padding-left: 5px;
}
.share-twitter a {
	background-image: url(../images/icon10.gif);
	background-repeat: no-repeat;
	float: left;
	height: 26px;
	width: 26px;
	text-indent: -9999px;
}
.share-mail {
	float: left;
	padding-left: 5px;
}
.share-mail a {
	background-image: url(../images/icon11.gif);
	background-repeat: no-repeat;
	text-indent: -9999px;
	float: left;
	height: 26px;
	width: 26px;
}

