@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&subset=latin,latin-ext);
ul#css3menu1{
	margin:0;list-style:none;padding:6px 6px 6px 0;background-color:#FFFFFF;border-width:0;border-style:solid;border-color:;font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;
	*display:inline;}
ul#css3menu1 li{
	display:block;white-space:nowrap;font-size:0;float:left;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0 0 0 6px;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:center;text-decoration:none;font-size:small;color:#000000;cursor:pointer;padding:3px;background-color:;background-repeat:repeat;border-width:0px;border-style:none;border-color:;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	border-style:none;color:#FFFFFF;text-decoration:none;}
ul#css3menu1>li>a{
	padding:16px 10px;}
ul#css3menu1 li.topmenu>a{
	background-color:#FFFFFF;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;padding:16px 10px;font:20px Yanone Kaffeesatz,Arial,Helvetica,sans-serif;color:#888888;text-shadow:none;}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu a.pressed{
	background-color:#FFFFFF;color:#000000;text-shadow:none;}
ul#css3menu1 li.toplast>a{
	background-color:#FFFFFF;border-width:0px;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;padding:16px 10px;font:20px Yanone Kaffeesatz,Arial,Helvetica,sans-serif;color:#888888;text-shadow:none;}
ul#css3menu1 li.toplast:hover>a,ul#css3menu1 li.toplast a.pressed{
	background-color:#FFFFFF;color:#000000;text-shadow:none;}
